.boardCard {
    text-align: center !important; /* Centers text horizontally */
    font-weight: bold !important;
    background: #5ec4ff !important;
    border-radius: 2px !important;
    color: rgb(255, 255, 255) !important;
    transition: 0.14s all ease-in-out !important;
    margin-right: 1px !important;
    font-size: 12px !important;
    vertical-align: middle !important;
    padding: 2px !important;
}


.boardCard:hover {
    background: #39b6e7 !important;
    cursor: default !important;
}

#opTxt {
    margin-left: 10px !important;
    margin-right: 15px !important;
    font-size: 15px !important;
}
.boardCon{
    display: flex !important; /* Use flexbox layout */
    align-items: center !important; /* Vertically center the contents */
    justify-content: center !important; /* Horizontally center the contents */
    margin-bottom: 2px !important; /* Bottom margin */
}

.boardOuterCon {
    display: flex !important;  
    flex-direction: row !important;
    overflow-wrap: normal !important;
    flex-wrap: wrap !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right: 8px !important;
    align-content: center !important;
    justify-content: center !important;
}

#workOrderName {
    opacity: 0.6 !important;
    font-weight: bold !important;
}

#otherStuff {
    opacity: 0.5 !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.sortable-inner-component__open_detail {
    display: block;
    width: 20px !important;
    height: 20px !important;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-right: 12px !important;
    color: white;
    background:#5297ff;
    border-radius: 5px;
    transition: 0.15s all ease-in-out;
}

.sortable-inner-component__open_detail:hover {
    background:#1f79ff;
}

.sortable-inner-component {
    border-radius: 13px !important;
    min-width: 350px;
    max-width: 350px;
    padding: 5px;
}

.moreTxt {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}

.IDtitle {
    font-size: 18px;
    margin: 0px !important;
    padding: 0px !important;
}

.ERPdemocard {
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 5px !important;
    font-size: 13px;
}