/* .T-Board-Toolbar{
  display:flex;
  justify-content: end !important;
  align-items: end!important;
  height:50px!important;
  
  }
.T-Board-button-container{
    height: 35px!important;
    width: 200px!important;}
.T-Board-Toolbar-Buttons-inner-container{
    padding-top: 3px;
    height: 100%;
    }
   
.T-Board-Toolbar-Buttons{
    height: 20px!important;
    padding: 0 .5em !important;
    
   }
.col{
    display:flex;
    align-items: center;
} */